In [49]:
import numpy as np
import scipy as sp
import math as mt

In [31]:
mt.sqrt(25)

5.0

In [53]:
mt.pi

3.141592653589793

In [60]:
from numpy import random
import numpy as np
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)
dataOne

array([[0.49157787, 0.20205234, 0.07505555, 0.2127204 , 0.39773304],
       [0.53518699, 0.7621545 , 0.4792865 , 0.93472869, 0.50217812],
       [0.51075302, 0.9961736 , 0.63205518, 0.5731996 , 0.65851682],
       [0.66515285, 0.93247216, 0.11889036, 0.60849304, 0.7817214 ],
       [0.98633419, 0.18125015, 0.75949372, 0.87109967, 0.91752273]])

In [61]:
np.mean(dataOne)

0.5914321005516328

In [52]:
print('I Love data Science')

I Love data Science

In [36]:
variableName = 25

In [41]:
print(variableName)

25

In [37]:
variableName1 = 'I Love data Science'

In [40]:
print(variableName1)

I Love data Science

In [42]:
variableName = 25.0

In [43]:
print(variableName)

25.0

In [44]:
varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print(varThree)

50.0

In [2]:
varOne = 25
varTwo = 'Hello'
varThree = varOne + varTwo
print(varThree)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#OUTPUT/Error of above (mathfunction) cell :
---------------------------------------------------------------------------
#TypeError                                 Traceback (most recent call last)
#<ipython-input-45-8f176fe74921> in <module>
#      1 varOne = 25
#      2 varTwo = 'Hello'
#----> 3 varThree = varOne + varTwo
#      4 print(varThree)

#TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
#Solution:
# Que: How I resolve above Error?
# Ans: I can't add a str and an int in Python, so I turned a number into a string while adding str() function & Word.

#varOne = 25        # instead of this use below line code
varOne = str(25)    # use this code
varTwo = 'Hello'
varThree = varOne + varTwo
print(varThree)

25Hello

In [65]:
#Lists 
#listName = [ ]
listOne = [1,2,3,4]
print(listOne[1:3])
print(listOne[0:2])
print(listOne[0:4])

[2, 3]
[1, 2]
[1, 2, 3, 4]

In [70]:
#Dictionaries
#The syntax for dictionaries is {key1 : value1, ...}:
tel = {'jack': 4098, 'sape': 4139}
tel['jack']
#tel['sape']

4098

In [95]:
#1.Define a variable that represents a dictionary with 5 INT elements
#LFiveINT = [1,2,3,4,5] #List of 5 INT 
FiveINT = {'one' : 1, 'two' :2, 'three' :3, 'four' :4, 'five':5}
FiveINT['five']

5

In [109]:
#2.Use functions from the math module to perform three different math operations on three of the five elements; you may find it easier to define variables for the elements. Feel free to combine elements as needed.
varOne = mt.sqrt(FiveINT['four'])
varOne

2.0

In [78]:
print(FiveINT['four'] + FiveINT['five'])

9

In [87]:
?mt

In [103]:
varTwo = mt.log(FiveINT['five'])
varTwo

1.6094379124341003

In [104]:
varThree = mt.cos(FiveINT['two'])
varThree

-0.4161468365471424

In [105]:
varFour = mt.radians(FiveINT['three'])
varFour

0.05235987755982989

In [99]:
print(varOne)

2.0

In [106]:
print(varTwo)

1.6094379124341003

In [107]:
print(varThree)

-0.4161468365471424

In [108]:
print(varFour)

0.05235987755982989